# ignore midleo.CORE files
www/core/www/controller/config.db.php
www/core/www/controller/config.vars.php
www/core/www/data/requests
www/core/www/data/flows
www/core/www/data/temp
www/core/www/data/packages
www/core/www/data/projects
www/core/www/assets/images/users/*
www/core/www/controller/vendor/*
www/core/www/controller/composer.lock
www/core/www/controller/composer.json
#ignore pm files
www/controller/composer.lock
www/controller/composer.json
www/controller/config.db.php
www/controller/config.vars.php