# ignore web config.vars
www/controller/config.db.php
www/controller/config.vars.php
#ignore py client config file
www/data/requests
www/data/flows
www/data/temp
www/data/packages
#ignore node_modeles
www/data/projects
www/assets/images/users/*
www/controller/vendor/*
www/controller/composer.lock
www/controller/composer.json