# ignore web config.vars
midleo.pm/www/core/www/controller/config.db.php
midleo.pm/www/core/www/controller/config.vars.php
#ignore py client config file
midleo.pm/www/core/www/data/requests
midleo.pm/www/core/www/data/flows
midleo.pm/www/core/www/data/temp
midleo.pm/www/core/www/data/packages
#ignore node_modeles
midleo.pm/www/core/www/data/projects
midleo.pm/www/core/www/assets/images/users/*
midleo.pm/www/core/www/controller/vendor/*
midleo.pm/www/core/www/controller/composer.lock
midleo.pm/www/core/www/controller/composer.json